/*
Last updated: 05/10/2022
Description: Sets up ./app appearance appearance.
TODO:
*/

/* Aligns content within the center. */
.App {
  text-align: center;
}

/* Aligns header within the center. */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
